body{
    background-color: #EFFD1D;
}

.altoFila{
    height: 220px;
}

.altoFilaRepos{
    height: 320px;
}

.primeraTarjeta{
    color: black;
    background-color: #FF0000;
    border:solid 5px black;
    border-radius:15px;
    -webkit-box-shadow: -8px -8px 10px 0px #800000,8px -8px 10px white, 8px 8px 10px #800000, -8px 8px 10px white;
}


.primerFoto{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 80px;
}

.subtituloNombre{
    position: absolute;
    top: 20px;
    left: 130px;
    
}

.nombreUsuario{
    position: absolute;
    top: 42px;
    left: 170px;
    color: white; 
}

.subtituloLink{
    position: absolute;
    top: 72px;
    left: 130px;
     
}

.linkUsuario{
    position: absolute;
    top: 98px;
    left: 20px;
    color: white;
}

.subtituloPaginaInterna{
    position: absolute;
    top: 122px;
    left: 20px;
}

.linkPagina{
    position: absolute;
    top: 142px;
    left: 20px;
    color: white; 
}

.botonCargar{
    position: absolute;
    left: 45%;
    background-color: #800000; 
    color: white;
}



.primeraTarjetaRepos{
    color: black;
    background-color: #FF0000;
    border:solid 5px black;
    border-radius:15px;
    -webkit-box-shadow: -8px -8px 10px 0px #800000,8px -8px 10px white, 8px 8px 10px #800000, -8px 8px 10px white;
}

.subtituloLinkSitio{
    position: absolute;
    top: 15px;
    
}

.linkSitio{
    position: absolute;
    top: 40px;
    color: white;
}

.subtituloRepositorio{
    position: absolute;
    top: 65px;
}

.nombreRepositorio{
    position: absolute;
    top: 90px;
    color: white;
}

.subtituloDescripcion{
    position: absolute;
    top: 115px;
}

.descripcion{
    position: absolute;
    top: 140px;
    width: 290px;
    height: 60px; 
    color: white;
    background-color: #FF0000;
}

.subtituloCantidadIssues{
    position: absolute;
    top: 215px;
}

.issues{
    position: absolute;
    top: 215px;
    left: 240px;
    color: white; 
}

.subtituloCantidadIssuesAbiertos{
    position: absolute;
    top: 230px;  
}

.issuesAbiertos{
    position: absolute;
    top: 230px;
    left: 240px;
    color: white; 
}

.subtituloCantidadForks{
    position: absolute;
    top: 245px;  
}

.forks{
    position: absolute;
    top: 245px;
    left: 240px;
    color: white;  
}

.paginacion {
    position: absolute;
    left: 40%;
    display: inline-block;
  }
  
  .paginacion a {
    color: black;
    font-weight: bold;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .paginacion a.active {
    background-color: #800000;
    color: white;
  }
  
  .paginacion a:hover:not(.active) {
      background-color: red;
    }