body{
    background-color: #EFFD1D;
}

.altoFila{
    height: 220px;
}

.altoFilaRepos{
    height: 320px;
}

.primeraTarjeta{
    color: black;
    background-color: #EFFD1D;
}

.segundaTarjeta{
    color: black;
    background-color: #42FD1D;
}

.terceraTarjeta{
    color: black;
    background-color: #FD1D49;
}

.cuartaTarjeta{
    color: black;
    background-color: #FDB61D;
}



.primerFoto{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 80px;
}

.subtituloNombre{
    position: absolute;
    top: 20px;
    left: 130px;
    
}

.nombreUsuario{
    position: absolute;
    top: 42px;
    left: 170px;
    color: #3581fc; 
}

.subtituloLink{
    position: absolute;
    top: 72px;
    left: 130px;
     
}

.linkUsuario{
    position: absolute;
    top: 98px;
    left: 20px;
}

.subtituloPaginaInterna{
    position: absolute;
    top: 122px;
    left: 20px;
}

.linkPagina{
    position: absolute;
    top: 142px;
    left: 20px; 
}

.botonCargar{
    position: absolute;
    left: 45%;
    background-color: #800000; 
    color: white;
}



.primeraTarjetaRepos{
    color: black;
    background-color: #EFFD1D;
}

.subtituloLinkSitio{
    position: absolute;
    top: 15px;
    
}

.linkSitio{
    position: absolute;
    top: 40px;
    color: blue;
}

.subtituloRepositorio{
    position: absolute;
    top: 65px;
}

.nombreRepositorio{
    position: absolute;
    top: 90px;
    color: blue;
}

.subtituloDescripcion{
    position: absolute;
    top: 115px;
}

.descripcion{
    position: absolute;
    top: 140px;
    width: 290px;
    height: 60px; 
    color: blue;
    background-color: #EFFD1D;
}

.subtituloCantidadIssues{
    position: absolute;
    top: 215px;
}

.issues{
    position: absolute;
    top: 215px;
    left: 240px;
    color: blue; 
}

.subtituloCantidadIssuesAbiertos{
    position: absolute;
    top: 230px;  
}

.issuesAbiertos{
    position: absolute;
    top: 230px;
    left: 240px;
    color: blue; 
}

.subtituloCantidadForks{
    position: absolute;
    top: 245px;  
}

.forks{
    position: absolute;
    top: 245px;
    left: 240px;
    color: blue;  
}